$fontFamily: "SF-Pro-Display";
$minWidth: 320;
$maxWidthContainer: 1330; //+30px safepadding
$safePadding: 15;

$fontSize: 20px;
$lineHeight: 1;

$backgroundColor: #030202;
$mainColor: #fff;
$red: #ff0000;
